    /* ============================= */
    /*       MOVIL FIRST             */
    /* ============================= */

    /* ============================= */
    /*    HEADER Y MENÚ              */
    /* ============================= */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(22, 51, 74, 0.8);
    backdrop-filter: blur(8px);
    padding: 1rem;
    z-index: 1001;
}

.logo img {
    height: 60px;
    width: auto;
}

.menu-toggle {
    font-size: 1.8rem;
    cursor: pointer;
    background: none;
    border: none;
    color: var(--color-white);
    z-index: 1002;
}

nav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    gap: 1rem;
    transition: right var(--transition);
    z-index: 1003;
}

.nav-open nav {
    right: 0;
}

.close-btn {
    background: none;
    border: none;
    color: var(--color-white);
    font-size: 1.5rem;
    align-self: flex-end;
    cursor: pointer;
    margin-bottom: 1rem;
}

nav a {
    position: relative;
    font-size: 24px;
    letter-spacing: 2px;
    color: var(--color-white);
    text-decoration: none;
    font-weight: bold;
    padding: 0.6rem;
    border-radius: var(--border-radius);
    transition: background var(--transition);
    font-family: var(--fiont-man);
}

nav a::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 3px;
    background: var(--color-bg);
    left: 0;
    bottom: 7px;
    transition: width 0.3s;
}

nav a:hover::after {
    width: 100%;
}

nav a.active {
    color: #04c0f5;
}

nav a.active::after {
    width: 100%;
    background: #04c0f5;
}

.login-btn:hover::after {
    width: 0%;
}

.login-btn {
    background-color: var(--color-mint);
    color: var(--color-primary);
    text-align: center;
    font-weight: bold;
}

.login-btn:hover {
    background-color: var(--color-hover-mint);
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 9;
    display: none;
}

#overlay.activo {
    display: block;
}

    /* ============================= */
    /*    PAGINA DINAMICA            */
    /* ============================= */

.perfil-container {
    padding: 1.5rem;
    background: linear-gradient(to bottom, #F4F4F5 0%, #D1ECF9 100%);
    color: var(--text-primary);
    font-family: var(--fiont-man);
}

.header-perfil {
background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: 10px;
    padding: 2rem 1rem;
    text-align: center;
    margin-bottom: 2rem;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header-perfil img {
    max-width: 180px;
    border-radius: 50%;
    border: 4px solid var(--color-white);
    margin-bottom: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.header-perfil h1 {
    font-size: 1.6rem;
    margin: 0;
    color: var(--color-white);
    font-family: var(--fiont-man);
    font-weight: 400;
}

.header-perfil a{
    color: var(--color-white);
    font-size: 1.3rem;
    text-decoration: none;
    letter-spacing: 1px;
    font-family: var(--font-secondary);
    font-weight: 500;

}

.header-perfil a:hover{
    transform: scale(1.1);
    transition: var(--transition);
}

/* Secciones */
.bloque {
    background-color: var(--color-white);
    margin-bottom: 1.8rem;
    border-radius: var(--border-radius);
    padding: 1.5rem;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.bloque:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
}

.bloque h2 {
    font-size: 1.2rem;
    color: var(--color-primary);
    margin-bottom: 1rem;
    border-bottom: 2px solid var(--color-hover-primary);
    padding-bottom: 0.4rem;
    position: relative;
    font-family: var(--fiont-man);
}

.bloque p,
.bloque li {
    font-size: 1rem;
    line-height: 1.6;
    color: var(--color-black);
    font-family: var(--font-secondary);
    font-weight: 500;
}

.bloque ul {
    list-style: none;
    padding-left: 1rem;
}

.bloque ul li::before {
    content: "• ";
    color: var(--color-hover-primary);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

/* ============================= */
/*    FOOTER                     */
/* ============================= */

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-5%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.footer {
    position: relative;
    background-image: url('../images/img21.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: var(--color-white);
    font-family: var(--fiont-man);
    padding: 2rem 1rem;
    z-index: 0;
}

.footer::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgb(0 0 0 / 78%);
    z-index: -1;
}

.footer-logo {
    text-align: center;
    margin-bottom: 1.5rem;
}

.footer-logo img {
    height: 80px;
    width: auto;
}

.footer-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer-section {
    border-top: 1px solid var(--color-primary);
    padding-top: 1rem;
}

.footer-toggle {
    background: none;
    border: none;
    font-weight: bold;
    font-size: 1.1rem;
    width: 100%;
    text-align: left;
    padding: 0.5rem 0;
    cursor: pointer;
    color: var(--color-white);
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
    font-family: var(--fiont-man);
}

.footer-content-sobre,
.footer-content-contacto {
    display: none;
    margin-top: 0.5rem;
    animation: fadeIn var(--transition);
}

.footer-section.active .footer-content-sobre,
.footer-section.active .footer-content-contacto {
    display: block;
}

.footer-text {
    margin-bottom: 0.75rem;
    line-height: 1.5;
    color: var(--color-white);
}

.footer-link {
    position: relative;
    display: inline-block;
    color: var(--color-white);
    text-decoration: none;
    transition: color 0.3s ease;
    margin-bottom: 1rem;
    font-family: var(--font-secondary);
    font-weight: 300;
    letter-spacing: 2px;
}

.footer-link::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #99d6dd;
    transition: width 0.4s ease;
}

.footer-link:hover::after {
    width: 100%;
}

/* Estilo cuando está en la página activa */
.footer-link.active {
    color: #00bcd4; /* Color del texto al estar activo */
}

.footer-link.active::after {
    width: 100%;
    background-color: #00bcd4;
}

.footer-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.footer-form input,
.footer-form textarea {
    padding: 0.5rem;
    border: 1px solid var(--color-primary);
    border-radius: var(--border-radius);
    font-size: 1rem;
    background-color: var(--color-white);
    color: var(--text-primary);
}

.footer-form textarea {
    resize: none;
    height: 120px;
}

.footer-form button {
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 0.6rem;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-weight: bold;
    margin-top: 0.5rem;
    transition: background-color var(--transition);
    width: 100px;
    font-family: var(--font-secondary);
    font-size: 1rem;
}

.footer-form button:hover {
    background-color: var(--color-hover-primary);
}

.social-icons {
    display: flex;
    gap: 1rem;
    font-size: 1.5rem;
}

.social-icons a {
    color: var(--color-white);
    transition: color var(--transition);
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
}

.social-icons a:hover {
    color: var(--color-hover-primary);
}

.footer-bottom {
    text-align: center;
    margin-top: 2rem;
    font-size: 1rem;
    color: var(--color-white);
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
}

/* ============================= */
/*    TABLET                     */
/* ============================= */

@media (min-width: 768px) and (max-width: 1023px) {
        /* ============================= */
    /*    HEADER Y MENÚ              */
    /* ============================= */

    body {
    padding-top: 80px;
    }

    nav {
        position: static;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        height: auto;
        background-color: transparent;
        width: auto;
        max-width: none;
        padding: 0;
        gap: 0.5rem;
        right: auto;
        transition: none;
    }

    nav a{
        font-size: 1rem;
    }

    nav a.active {
        color: #04c0f5;
    }

    nav a.active::after {
        width: 100%;
        background: #04c0f5;
    }

    .menu-toggle,
    .close-btn,
    .overlay {
        display: none !important;
    }

    .logo img {
        height: 70px;
    }

    .header-perfil img {
        max-width: 200px;
    }

    .perfil-container {
        padding: 2rem;
        margin-top: 30px;
    }

    /* ============================= */
    /*    FOOTER                     */
    /* ============================= */

    .footer-container {
        flex-direction: row;
        justify-content: space-between;
        gap: 3rem;
    }

    .footer-section {
        width: 45%;
        border-top: none;
        margin-right: 30px;
        margin-left: 30px;
    }

    .footer-toggle {
        font-size: 1.7rem;
        cursor: default;
    }

    .footer-content-sobre,
    .footer-content-contacto {
        display: block !important;
    }

    .footer-logo {
        text-align: left;
    }

    .footer-toggle i {
        display: none;
    }

    .footer-link{
        font-size: 1.5rem;
    }

    .footer-text{
        font-size: 1.3rem;
    }

    .social-icons{
        font-size: 2rem;
        gap: 2rem;    
    }
}

@media (min-width: 1024px) {
    /* ============================= */
    /*    HEADER Y MENÚ              */
    /* ============================= */

    body {
    padding-top: 100px;
    }

    header {
    padding: 0.5rem 0.5rem;
    }

    nav {
        position: static;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 2rem;
        background-color: transparent;
        height: auto;
        width: auto;
        padding: 0;
        right: auto;
        transition: none;
    }

    nav a{ 
    font-size: 1rem;
    }

    nav a.active {
    color: #04c0f5;
    font-weight: bolder;
    }

    nav a.active::after {
        width: 100%;
        background: #04c0f5;
    }

    .menu-toggle,
    .close-btn,
    .overlay {
        display: none !important;
    }

    .login-btn {
        padding: 0.6rem 1.4rem;
        font-size: 1rem;
    }

    .logo img {
        height: 80px;
    }
    
    .perfil-container {
        max-width: 960px;
        margin: auto;
        padding: 2.5rem;
        margin-top: 30px;
    }

    .header-perfil h1 {
        font-size: 2rem;
    }

    .bloque h2 {
        font-size: 1.4rem;
    }

    /* ============================= */
    /*    FOOTER                     */
    /* ============================= */

    .footer-container {
        flex-direction: row;
        justify-content: space-between;
        gap: 3rem;
    }

    .footer-section {
        width: 45%;
        border-top: none;
        margin-right: 30px;
        margin-left: 30px;
    }

    .footer-toggle {
        font-size: 1.7rem;
        cursor: default;
    }

    .footer-link{
        font-size: 1.5rem;
    }

    .footer-text{
        font-size: 1.3rem;
    }

    .social-icons{
        font-size: 2rem;
        gap: 2rem;    
    }

    .footer-content-sobre,
    .footer-content-contacto {
        display: block !important;
    }

    .footer-logo {
        text-align: left;
    }

    .footer-toggle i {
        display: none;
    }
}