/* ============================= */
/* 游꿛 PALETA DE LA CL칈NICA       */
/* ============================= */
:root {
    /* Colores base */
    --color-bg: #D1ECF9;
    --color-primary: #1A3C57;      
    --color-white: #F4F4F5;
    --color-mint: #72e681;
    --color-black: #141313;

    /* Hover y estados */
    --color-hover-primary: #16334a;
    --color-hover-mint: #9be0a6;

    /* Texto */
    --text-primary: var(--color-primary);
    --text-on-dark: var(--color-black);

  /* Tipograf칤a */
    --fiont-man: Arial, sans-serif;
    --font-secondary: Arial Italic, sans-serif;
    --font-size-base: 16px;

    /* Dimensiones */
    --header-height: 60px;
    --border-radius: 6px;

    /* Otros */
    --transition: 0.3s ease-in-out;
}

/* ============================= */
/* 游댂 RESETEO Y BASE             */
/* ============================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    overflow-x: hidden;
}

body {
    font-family: var(--fiont-man);
    font-size: var(--font-size-base);
    background-color: var(--color-bg);
    color: var(--text-primary);
    overflow-x: hidden;
    padding-top: 80px;
}

    /* ============================= */
    /*       MOVIL FIRST             */
    /* ============================= */

    /* ============================= */
    /*    HEADER Y MEN칔              */
    /* ============================= */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(22, 51, 74, 0.8);
    backdrop-filter: blur(8px);
    padding: 1rem;
    z-index: 1001;
}

.logo img {
    height: 60px;
    width: auto;
}

.menu-toggle {
    font-size: 1.8rem;
    cursor: pointer;
    background: none;
    border: none;
    color: var(--color-white);
    z-index: 1002;
}

nav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    max-width: 300px;
    height: 100vh;
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    gap: 1rem;
    transition: right var(--transition);
    z-index: 1003;
}

.nav-open nav {
    right: 0;
}

.close-btn {
    background: none;
    border: none;
    color: var(--color-white);
    font-size: 1.5rem;
    align-self: flex-end;
    cursor: pointer;
    margin-bottom: 1rem;
}

nav a {
    position: relative;
    font-size: 16px;
    color: var(--color-white);
    text-decoration: none;
    font-weight: bold;
    padding: 0.6rem;
    border-radius: var(--border-radius);
    transition: background var(--transition);
    font-family: var(--fiont-man);
}

nav a::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 3px;
    background: #5c5ae7;
    left: 0;
    bottom: -5px;
    transition: width 0.3s;
}

nav a:hover::after {
    width: 100%;
}

.login-btn:hover::after {
    width: 0%;
}

.login-btn {
    background-color: var(--color-mint);
    color: var(--color-primary);
    text-align: center;
    font-weight: bold;
}

.login-btn:hover {
    background-color: var(--color-hover-mint);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    z-index: 1000;
}

.nav-open ~ .overlay {
    display: block;
}

    /* ============================= */
    /*    HERO                       */
    /* ============================= */

.hero{
    padding-top: 40px;
    text-align: center;
}

.hero h1{
    margin-bottom: 40px;
    font-family: var(--fiont-man);
}

.hero a{
    background-color: var(--color-primary);
    color: var(--color-white);
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    padding: 0.6rem;
    border-radius: var(--border-radius);
    font-family: var(--fiont-man);
}

.hero a:hover{
    background-color:rgb(46, 107, 175);
    transition: 0.5s;
    box-shadow: 0px 0px 14px 4px rgba(145, 174, 232, 1);
}

/* ============================= */
/* SECCION PORQUE ELEGRINOS      */
/* ============================= */
.section-title {
    margin-top: 30px;
    font-family: var(--fiont-man);
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.carousel-container {
    position: relative;
    overflow: hidden;
}

.carousel {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 1rem;
    padding: 1rem 0.5rem;
}

.card {
    min-width: 70%;
    max-width: 70%;
    flex: 0 0 auto;
    background: #F4F4F5;
    border-radius: 12px;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card img {
    width: 70px;
    height: 70px;
    margin-bottom: 0.5rem;
}

.card p {
    font-size: var(--font-size-base);
    color: var(--color-hover-primary);
    font-weight: bold;
    font-family: var(--fiont-man);
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color:var(--color-black);
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    border-radius: 50px;
    z-index: 2;
}

.arrow.left {
    left: 5px;
}

.arrow.right {
    right: 5px;
}

/* ============================= */
/* SECCION DE RESE칌AS            */
/* ============================= */

.carrusel-container2 {
    overflow: hidden;
    position: relative;
    width: 100%;
    padding-inline: 1rem;
}

.carrusel2 {
    display: flex;
    gap: 1rem;
    width: max-content;
    animation: scroll 30s linear infinite;
}

.rese침a {
    min-width: 100vw;
    max-width: 100vw;
    background-color: var(--color-white);
    border-left: 4px solid var(--color-primary);
    border-radius: var(--border-radius);
    padding: 1rem;
    flex-shrink: 0;
    transition: background var(--transition);
}

.rese침a h4 {
    margin: 0 0 0.5rem;
    color: var(--color-primary);
}

.rese침a p {
    margin: 0;
    font-size: 0.9rem;
    color: var(--color-primary);
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

/* ============================= */
/* SECCION DE LLAMADO            */
/* ============================= */

.llamado-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
    min-height: 50vh;
    overflow: hidden;
}

.llamado-card {
    background-color: var(--color-white);
    padding: 1.5rem;
    border-radius: var(--border-radius);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
    width: 100%;
    max-width: 90vw;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 0.8s ease, opacity 0.8s ease;
}

.llamado-card.visible {
    transform: translateX(0);
    opacity: 1;
}

.llamado-titulo {
    font-family: var(--fiont-man);
    font-size: 1.4rem;
    color: var(--color-primary);
    margin-bottom: 1rem;
    text-align: center;
}

.llamado-texto {
    font-family: var(--font-secondary);
    font-size: 1rem;
    margin-bottom: 1.5rem;
    color: var(--color-primary);
    text-align: center;
}

.llamado-boton {
    display: inline-block;
    background-color: var(--color-mint);
    color: var(--color-primary);
    padding: 0.75rem 1.25rem;
    border-radius: var(--border-radius);
    text-decoration: none;
    font-weight: bold;
    transition: background-color var(--transition);
    margin: 0 auto;
    text-align: center;
}


.llamado-card .llamado-boton {
    display: block;
    max-width: fit-content;
}

.llamado-boton:hover {
    background-color: var(--color-hover-mint);
}

/* ============================= */
/* SECCION DE REDES              */
/* ============================= */

.sec-redes{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.caja-redes{
    background-color: var(--color-white);
    border-radius: var(--border-radius);
    height: 100px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
}

.caja-redes img{
    width: 40px;
    height: 40px;
}

.caja-redes img:hover{
    transform: scale(1.3);
    transition: 0.3s;
}

/* ============================= */
/*    FOOTER                     */
/* ============================= */

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(22, 51, 74, 1);
    padding: 1rem;
}

footer p{
    color: var(--color-white);
    font-weight: bold;
    font-family: var(--fiont-man);
    font-size: 1rem;
}

/* ============================= */
/*    TABLET                     */
/* ============================= */


@media (min-width: 768px) and (max-width: 1023px) {

    /* ============================= */
    /*    HEADER Y MEN칔              */
    /* ============================= */

    body {
    padding-top: 80px;
    }

    nav {
        position: static;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        height: auto;
        background-color: transparent;
        width: auto;
        max-width: none;
        padding: 0;
        gap: 2rem;
        right: auto;
        transition: none;
    }

    nav a{
        font-size: 1.3rem;
    }

    .menu-toggle,
    .close-btn,
    .overlay {
        display: none !important;
    }

    .logo img {
        height: 70px;
    }

    /* ============================= */
    /*    HERO                       */
    /* ============================= */

    .hero{
        padding-bottom: 40px;
    }

    .hero h1{
        font-size: 2.5rem;
    }

    .hero a{
        font-size: 1.5rem;
    }

    /* ============================= */
    /* SECCION PORQUE ELEGRINOS      */
    /* ============================= */

        .carousel-container {
        overflow: visible;
    }

    .carousel {
        flex-wrap: wrap;
        justify-content: center;
        overflow: visible;
        gap: 2rem;
    }

    .card {
        flex: 1 1 calc(30% - 2rem);
        max-width: calc(30% - 2rem);
        min-width: unset;
    }

    .card p {
    font-size: 20px;
    font-weight: bold;
    }

    .arrow {
        display: none;
    }

    .section-title{
        font-size: 2rem;
    }

    /* ============================= */
    /* SECCION DE RESE칌AS            */
    /* ============================= */

    .rese침a {
    min-width: 45vw;
    max-width: 45vw;
    }

    .rese침a h4{
        font-size: 1.5rem;
    }

    .rese침a p{
        font-size: 1.5rem;
    }

    /* ============================= */
    /* SECCION DE LLAMADO            */
    /* ============================= */
    
    .llamado-card {
        display: flex;
        flex-direction: column;
        max-width: 600px;
        height: 400px;
        padding: 2rem;
        gap: 3rem;
        align-items: center;
        justify-content: center;
    }

    .llamado-titulo {
        font-size: 2rem;
    }

    .llamado-texto {
        font-size: 1.5rem;
        font-weight: bolder;
    }

    .llamado-boton {
        font-size: 1.3rem;
        padding: 0.75rem 1.5rem;
    }

    /* ============================= */
    /* SECCION DE REDES              */
    /* ============================= */

    .caja-redes{
        height: 100px;
        width: 600px;
        justify-content: space-around;
    }

    .caja-redes img{
        width: 50px;
        height: 50px;
    }

    .caja-redes img:hover{
        transform: scale(1.3);
        transition: 0.3s;
    }

    /* ============================= */
    /*    FOOTER                     */
    /* ============================= */

    footer p{
        font-size: 1.8rem;
    }

}

/* ============================= */
/*    ESCRITORIO                 */
/* ============================= */

@media (min-width: 1024px) {

    /* ============================= */
    /*    HEADER Y MEN칔              */
    /* ============================= */

    body {
    padding-top: 100px;
    }

    header {
    padding: 0.5rem 0.5rem;
    }

    nav {
        position: static;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 2rem;
        background-color: transparent;
        height: auto;
        width: auto;
        padding: 0;
        right: auto;
        transition: none;
    }

    nav a{ 
    font-size: 1.3rem;
    }

    .menu-toggle,
    .close-btn,
    .overlay {
        display: none !important;
    }

    .login-btn {
        padding: 0.6rem 1.4rem;
        font-size: 1rem;
    }

    .logo img {
        height: 80px;
    }

    /* ============================= */
    /*    HERO                       */
    /* ============================= */

    .hero{
        padding-bottom: 40px;
    }

    .hero h1{
        font-size: 2.5rem;
    }

    .hero a{
        font-size: 1.5rem;
    }

    /* ============================= */
    /* SECCION PORQUE ELEGRINOS      */
    /* ============================= */

        .carousel-container {
        overflow: visible;
    }

    .carousel {
        flex-wrap: wrap;
        justify-content: center;
        overflow: visible;
        gap: 2rem;
    }

    .card {
        flex: 1 1 calc(30% - 2rem);
        max-width: calc(30% - 2rem);
        min-width: unset;
    }

    .card p {
    font-size: 20px;
    font-weight: bold;
    }

    .arrow {
        display: none;
    }

    .section-title{
        font-size: 2rem;
    }

    /* ============================= */
    /* SECCION DE RESE칌AS            */
    /* ============================= */

    .rese침a {
    min-width: 50vw;
    max-width: 40vw;
    }

    .rese침a h4{
        font-size: 1.5rem;
    }

    .rese침a p{
        font-size: 1.5rem;
    }

    /* ============================= */
    /* SECCION DE LLAMADO            */
    /* ============================= */
    
    .llamado-container {
        padding: 4rem 2rem;
    }

    .llamado-card {
        display: flex;
        flex-direction: column;
        max-width: 600px;
        height: 400px;
        padding: 2rem;
        gap: 3rem;
        align-items: center;
        justify-content: center;
    }

    .llamado-titulo {
        font-size: 2rem;
    }

    .llamado-texto {
        font-size: 1.7rem;
        font-weight: bolder;
    }

    .llamado-boton {
        font-size: 1.5rem;
        padding: 0.9rem 2rem;
    }

    /* ============================= */
    /* SECCION DE REDES              */
    /* ============================= */

    .caja-redes{
        margin-top: 30px;
        margin-bottom: 30px;
        height: 100px;
        width: 600px;
        justify-content: space-around;
    }

    .caja-redes img{
        width: 50px;
        height: 50px;
    }

    .caja-redes img:hover{
        transform: scale(1.3);
        transition: 0.3s;
    }

    /* ============================= */
    /*    FOOTER                     */
    /* ============================= */

    footer p{
        font-size: 1.8rem;
    }

}