    /* ============================= */
    /*       MOVIL FIRST             */
    /* ============================= */

    /* ============================= */
    /*    HEADER Y MENÚ              */
    /* ============================= */

body {
    padding-top: 70px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(22, 51, 74, 0.8);
    backdrop-filter: blur(8px);
    padding: 1rem;
    z-index: 1001;
}

.logo img {
    height: 60px;
    width: auto;
}

.menu-toggle {
    font-size: 1.8rem;
    cursor: pointer;
    background: none;
    border: none;
    color: var(--color-white);
    z-index: 1002;
}

nav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    gap: 1rem;
    transition: right var(--transition);
    z-index: 1003;
}

.nav-open nav {
    right: 0;
}

.close-btn {
    background: none;
    border: none;
    color: var(--color-white);
    font-size: 1.5rem;
    align-self: flex-end;
    cursor: pointer;
    margin-bottom: 1rem;
}

nav a {
    position: relative;
    font-size: 24px;
    letter-spacing: 2px;
    color: var(--color-white);
    text-decoration: none;
    font-weight: bold;
    padding: 0.6rem;
    border-radius: var(--border-radius);
    transition: background var(--transition);
    font-family: var(--fiont-man);
}

nav a::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 3px;
    background: var(--color-bg);
    left: 0;
    bottom: -5px;
    transition: width 0.3s;
}

nav a:hover::after {
    width: 100%;
}

nav a.active {
    color: #999;
}

nav a.active::after {
    width: 100%;
    background: #999;
}

.login-btn:hover::after {
    width: 0%;
}

.login-btn {
    background-color: var(--color-mint);
    color: var(--color-primary);
    text-align: center;
    font-weight: bold;
}

.login-btn:hover {
    background-color: var(--color-hover-mint);
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 9;
    display: none;
}

#overlay.activo {
    display: block;
}


    /* ============================= */
    /*    WHATSAPP-ICON              */
    /* ============================= */

.whatsapp-float {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #25d366;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    z-index: 999;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: popIn 0.8s ease;
    transition: transform 0.3s ease;
}

.fa-xl {
    font-size: 2.5em;
}

/* Ocultar tooltip en mobile/tablet */
.tooltip {
    display: none;
}

/* === ANIMACIÓN === */
@keyframes popIn {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.equipo {
    text-align: center;
    padding: 1rem;
    background-color: var(--color-white);
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.equipo h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: var(--color-primary);
}

.equipo-descripcion {
    font-size: 1rem;
    color: var(--color-primary);
    margin-bottom: 1.5rem;
    font-weight: bold;
}

.tarjeta-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 400px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.tarjetas {
    position: relative;
    height: 500px;
}

.tarjeta {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transform: scale(0.95);
    transition: var(--transition);
    padding: 1rem;
    background-color: var(--color-hover-mint);
    border-radius: var(--border-radius);
    z-index: 0;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.tarjeta.active {
    opacity: 1;
    transform: scale(1);
    z-index: 2;
}

.tarjeta:hover {
    transform: scale(1.03);
}

.tarjeta img {
    width: 100%;
    border-radius: var(--border-radius);
    margin-bottom: 1rem;
}

.tarjeta h3 {
    font-size: 1.1rem;
    margin-bottom: 0.25rem;
    color: var(--text-primary);
    text-align: center;
    padding-bottom: 20px;
}

.tarjeta .rol {
    color: var(--color-primary);
    font-weight: 500;
    font-weight: bold;
    text-align: center;
}

.flecha {
    background-color: var(--color-mint);
    border: none;
    font-size: 1.5rem;
    padding: 1rem;
    cursor: pointer;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    z-index: 3;
    border-radius: 50%;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
    transition: var(--transition);
}

#prev-btn {
    left: 3px;
}

#next-btn {
    right: 3px;
}

.tarjeta .btn-ver-mas {
    display: inline-block;
    margin-top: 1rem;
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius);
    text-decoration: none;
    font-size: 0.9rem;
    transition: var(--transition);
}

.tarjeta .btn-ver-mas:hover {
    background-color: var(--color-hover-primary);
}

.tarjeta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.container-conulta{
    position: relative;
    height: 300px;
    width: 100%;
    text-align: center;
    background-image: url('../images/img7.JPG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
    overflow: hidden;
    border-radius: 30px;
    gap: 20px;
}

.container-conulta::before{
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, rgb(20 38 63 / 73%) 0%, rgb(63 147 189 / 94%) 100%);
    z-index: 1;
}

.container-conulta::after {
    display: none;
}

.container-conulta h2{
    color: var(--color-white);
    font-size: 2rem;
    z-index: 2;

}

.consulta-descripcion{
    position: relative;
    z-index: 2;
    font-family: var(--fiont-man);
    color: var(--color-white);
    font-size: 1.5rem;
}

.btn-consulta{
    position: relative;
    z-index: 2;
    font-family: var(--fiont-man);
}

.btn-consulta {
    background-color: var(--color-primary);
    color: var(--color-white);
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    padding: 0.6rem;
    border-radius: var(--border-radius);
    width: 200px;
    transition: var(--transition);
}

.btn-consulta:hover {
    background-color: rgb(46, 107, 175);
    box-shadow: 0px 0px 14px 4px rgba(145, 174, 232, 1);
}

/* ============================= */
/*    FOOTER                     */
/* ============================= */

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(22, 51, 74, 1);
    padding: 1rem;
}

footer p{
    color: var(--color-white);
    font-weight: bold;
    font-family: var(--fiont-man);
    font-size: 1rem;
}

/* ============================= */
/*    TABLET                     */
/* ============================= */

@media (min-width: 768px) and (max-width: 1023px) {

    /* ============================= */
    /*    HEADER Y MENÚ              */
    /* ============================= */

    body {
    padding-top: 80px;
    }

    nav {
        position: static;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        height: auto;
        background-color: transparent;
        width: auto;
        max-width: none;
        padding: 0;
        gap: 0.5rem;
        right: auto;
        transition: none;
    }

    nav a{
        font-size: 1rem;
    }

    nav a.active {
        color: #999;
    }

    nav a.active::after {
        width: 100%;
        background: #999;
    }

    .menu-toggle,
    .close-btn,
    .overlay {
        display: none !important;
    }

    .logo img {
        height: 70px;
    }

    /* ============================= */
    /*    WHATSAPP-ICON              */
    /* ============================= */

    .whatsapp-float{
        width: 75px;
        height: 75px;
    }

    .fa-xl {
        font-size: 3.5em;
    }

    .equipo{
        padding-top: 60px;
    }

    .equipo h2 {
        font-size: 2.5rem;
    }

    .equipo-descripcion {
        font-size: 1.2rem;
        font-weight: bold;
    }

    .tarjeta-container {
        max-width: 700px;
    }

    .tarjetas {
        display: flex;
        gap: 1rem;
        height: auto;
        position: static;
    }

    .tarjeta {
        position: relative;
        opacity: 1 !important;
        transform: scale(1);
        flex: 1;
    }

    .flecha {
        display: none;
    }

    .container-conulta{
        width: 600px;
    }

    /* ============================= */
    /*    FOOTER                     */
    /* ============================= */

    footer p{
        font-size: 1.8rem;
    }
}
    /* ============================= */
    /*    ESCRITORIO                 */
    /* ============================= */

@media (min-width: 1024px) {

    /* ============================= */
    /*    HEADER Y MENÚ              */
    /* ============================= */

    body {
    padding-top: 100px;
    }

    header {
    padding: 0.5rem 0.5rem;
    }

    nav {
        position: static;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 2rem;
        background-color: transparent;
        height: auto;
        width: auto;
        padding: 0;
        right: auto;
        transition: none;
    }

    nav a{ 
    font-size: 1.3rem;
    }

    nav a.active {
    color: #999;
    font-weight: bolder;
    }

    nav a.active::after {
        width: 100%;
        background: #999;
    }

    .menu-toggle,
    .close-btn,
    .overlay {
        display: none !important;
    }

    .login-btn {
        padding: 0.6rem 1.4rem;
        font-size: 1rem;
    }

    .logo img {
        height: 80px;
    }

    /* ============================= */
    /*    WHATSAPP-ICON              */
    /* ============================= */

    .tooltip {
        display: inline-block;
        position: absolute;
        right: 70px;
        background-color: #25d366;
        color: var(--color-white);
        padding: 6px 12px;
        border-radius: 6px;
        white-space: nowrap;
        font-size: 14px;
        opacity: 0;
        pointer-events: none;
        transform: translateY(10px);
        transition: all 0.3s ease;
        margin-right: 20px;
        font-weight: bold;
    }

    .whatsapp-float{
        width: 75px;
        height: 75px;
    }

    .fa-xl {
    font-size: 3.5em;
    }

    .whatsapp-float:hover .tooltip {
        opacity: 1;
        transform: translateY(0);
    }

    .whatsapp-float:hover {
        transform: scale(1.1);
    }

    .equipo {
        margin-top: 0px;
    }

    .equipo h2 {
        font-size: 3.5rem;
    }

    .equipo-descripcion {
        font-size: 1.5rem;
        font-weight: bold;
    }
    
    .tarjeta-container {
        max-width: 1024px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .tarjetas {
        display: flex;
        justify-content: center;
        gap: 2rem;
        height: auto;
        position: static;
    }

    .tarjeta {
        position: relative;
        opacity: 1 !important;
        transform: scale(1);
        flex: 1;
        max-width: 220px;
    }

    .flecha {
        display: none;
    }

    .container-conulta{
        width: 600px;
    }

    /* ============================= */
    /*    FOOTER                     */
    /* ============================= */

    footer p{
        font-size: 1.8rem;
    }
}